In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [3]:
print("No.of Rows",df.shape[0])

No.of Rows 10

In [4]:
print("Noof Colunms",df.shape[1])

Noof Colunms 5

In [5]:
print(df.index.values)

[0 1 2 3 4 5 6 7 8 9]

In [6]:
print(df.columns.values)

['TransactionID' 'TransactionDate' 'UserID' 'ProductID' 'Quantity']

In [7]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
df.rename(columns={'Quantity':'Quant'},inplace=True)

In [9]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [10]:
df.rename(columns={'ProductID':'PID','UserID':'UID'},inplace=True)

In [11]:
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [12]:
df_sort=df.sort_values(by=["TransactionID"],ascending=[False])
print(df_sort)

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [13]:
df_sort=df.sort_values(by=["Quant","TransactionDate"],ascending=[True,False])

In [14]:
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [15]:
df=pd.read_csv('transactions.csv')
df_re=['ProductID','Quantity','TransactionDate','TransactionID','UserID']
df_desired=df[df_re]
print(df_desired.head())
print(type(df))

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
<class 'pandas.core.frame.DataFrame'>

In [16]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [17]:
df=pd.read_csv('transactions.csv')
df_re=['UserID','ProductID','Quantity','TransactionDate','TransactionID']
df_desired=df[df_re]
print(df_desired.head())

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5

In [18]:
second_column_array=df.iloc[:,1].values
print(second_column_array)

['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [19]:
product_id_list=df['ProductID'].tolist()
print(product_id_list)

[2, 4, 3, 2, 4, 5, 4, 2, 4, 4]

In [20]:
subset_rows=df.iloc[[1,3,6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [21]:
#Subset rows excluding 1,2,6

df_subset=df.drop(index=[1,3,6])
print(df_subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [22]:
#subset the first three rows
#subset the last 2 rows
print(df.head(3))
print(df.tail(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
#subset rows excluding the last 2 rows
print(df.iloc[:-2])
#subset rows excluding the first 3 rows
print(df.iloc[3:])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [24]:
#Subset rows where Quality>1
quality=df[df['Quantity']>1]
print(quality)
#subset rows where UseriD=2

userid=df[df['UserID']==2]
print(userid)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [25]:
#subset rows where Quantity>1 and UserID=2
quality_u=df[(df['Quantity']>1) & (df['UserID']==2)]
print(quality_u)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [26]:
#subset rows where Quantity + UserID is >3
quality_u=df[(df['Quantity'] + df['UserID'])>3]
print(quality_u)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [27]:
#Subset rows where an external array ,foo, is True
# Example external boolean array (must be same length as df)
foo = [True, False, True, False, True, False, True, True, False, True]  # adjust to match df length

# Subset rows where foo is True
filtered_df = df[foo]
filtered_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [28]:
#subset rows where an external array,bar, is positive
# Example external numeric array (same length as df)
bar = [1, -2, 3, 0, 5, -1, 2, -3, 4, 1]  # adjust to match df length

# Subset rows where bar > 0
import numpy as np
bar = np.array(bar)  # ensure it's a NumPy array for comparison
filtered_df = df[bar > 0]
filtered_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [29]:
#subset rows where foo is True or bar is negative

In [30]:
#Subset the rows where foo is not True and bar is not negative

In [ ]:
#Subset by columns 1 and 3

In [ ]:
#Subset by columns TransactionID and TransactionDate with logical operator

In [ ]:
#subset columns by a variable list of column names

In [ ]:
#Inserting and updating values

In [ ]:
#Convert the TransactionDate column to type Date

In [ ]:
#Insert a new column,Foo=UserID+ProductID